@using Microsoft.AspNetCore.Identity
@using PawWebApp.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TRANAWARE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PawWebApp.styles.css" asp-append-version="true" />
    <!--<link rel="icon" href="@Url.Content("~/img/headlogo.ico")"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("styles", required: false)
</head>
<body>
	<!--
        <header>
		 <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			 <div class="container-fluid">
				 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PawWebApp</a>
				 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						 aria-expanded="false" aria-label="Toggle navigation">
					 <span class="navbar-toggler-icon"></span>
				 </button>
				 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					 <ul class="navbar-nav flex-grow-1">
						 <li class="nav-item">
							 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						 </li>
						 <li class="nav-item">
							 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						 </li>
					 </ul>
				 </div>
			 </div>
		 </nav>
	 </header>
     -->
    <section id="header">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/tranaware-logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="PcComponents" asp-action="Products">Products</a></li>
                <li><a asp-area="" asp-controller="Upgrades" asp-action="Upgrade">Upgrade</a></li>
                <li><a asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a></li>
                <!--
                <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
				<li><a asp-area="" asp-controller="Contacts" asp-action="Contact">Contact</a></li>
                -->
                <li class="search-bar">
                    <form asp-controller="PcComponents" asp-action="FilteredProducts" method="get" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" name="searchQuery" placeholder="Search products" aria-label="Search">
                        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                    </form>
                </li>
                <li><a asp-area="" asp-controller="Cart" asp-action="Index">Cart</a></li>
                <!--
				    <li class="align-right"><a href="register.html">Log In</a></li>
					<li class="align-right"><a href="register.html">Register</a></li>
                -->
                <partial name="_LoginPartial" />
               
                
            </ul>
            
        </div>
    </section>
	
    <main>
        @RenderBody()
    </main>

    <section id="newsletter" class="section-p1 section-m1" style="background-image: url('@Url.Content("~/img/banner/b5.png")');">
        <div class="newstext">
            <h4>Sign up for our newsletter!</h4>
            <p>Be the first to get notified when our <span>newest additions</span> and <span>special discounts</span> arrive.</p>

            @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post))
            {
                <div class="form">
                    <input id="emailInput" type="text" name="email" placeholder="E-mail">
                    <input type="submit" value="Sign Up" style="background-color: #9dc7b5; white-space: nowrap; border-top-left-radius: 0; border-bottom-left-radius: 0; font-size: 14px; padding: 5px 8px; border: none;">
                </div>
            }
        </div>
    </section>
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="~/img/tranaware-logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> Bulevardul Decebal 107, Craiova 200776 </p>
            <p><strong>Phone: </strong> +40 123 456 789 </p>
            <p><strong>Hours: </strong> 10:00 - 21:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <a href="https://www.twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.pinterest.com/">
                        <i class="fab fa-pinterest"></i>
                    </a>
                    <a href="https://www.youtube.com/">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a asp-area="" asp-controller="Home" asp-action="About">About Us</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            <a asp-area="" asp-controller="Contacts" asp-action="Contact">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a asp-area="" asp-controller="Cart" asp-action="Index">View Cart</a>
            <a asp-area="" asp-controller="Cart" asp-action="Index">Track my Order</a>
        </div>
        <div class="col install">
            <h4>Install our App</h4>
            <div class="row">
                <a href="#"><img src="~/img/pay/app.png" class="app-photo" alt=""></a>
                <img src="~/img/pay/play.png" class="play-photo">
            </div>

        </div>
        <div class="col payment">
            <h4>Supported Payment</h4>
            <img src="~/img/pay/pay.jpg" class="pay-photo">
        </div>
        <div class="copyright">
            <p>Trană Robert - P.A.W. 2023-2024</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
